<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Carrier SMART Dashboard Test Suite">
<parameter name="appURL" value="https://smartservicedev.carrier.com"/>
<parameter name="browserType" value="chrome"/>
  <test name="Carrier SMART POM Test">
    <classes>
     <class name="com.pack.common.tests.DashboardPageTest"/>
     <class name="com.pack.common.tests.DeviceDetailsTest"/>
     <class name="com.pack.common.tests.SectionDetailsTest"/>
     <class name="com.pack.common.tests.AdminFunctionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
