<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" verbose="1" thread-count="10" parallel="tests" >
<tests>
<test name="Windows+chrome Test">
<parameters>
<parameter name="platform" value="Windows" />
<parameter name="browser" value="chrome" />
<parameter name="version" value="8" />
</parameters>
<classes>
<class name="test.UI" >
<methods>
<include name="testCapabilitiesDetailPage" />
<include name="testHowToBuyContactAvayaSalesSubmitValidInputs" />
<!--<include name="testPartnerFourOption" />-->
</methods>
</class>
</classes>
</test>
</tests>
<!-- 
<tests>
<test name="Windows+firefox Test">
<parameters>
<parameter name="platform" value="Windows" />
<parameter name="browser" value="firefox" />
<parameter name="version" value="8" />
</parameters>
<classes>
<class name="test.UI" >
<methods>
<include name="testEventsLandingPageLinkedIn" />
<include name="testEventsLandingPageFacebook" />
<include name="testCaseforAvayaLandingPageShareSectionLinkedIn" />
<include name="testCaseforAvayaLandingPageShareSectionFaceBook" />
</methods>
</class>
</classes>
</test>
</tests>-->
</suite>